h1 {
    background-color: aqua;
    text-align: center;
    color: brown;
    border-radius: 0 30px;
}


p {
    padding: 10px 20px;
    background-color: black;
    color: yellow;
    text-align: center;
    border-radius: 5px;
    border: 3.5px solid red;
}

h2 {
    width: 220px;
    text-align: center;
    border-left: 3px dotted black;
    border-right: 3px dotted black;
    padding: 0 30px;
}

.text2 {
    color: red;
    border: 3.5px solid yellow;
}